.body-order {
    background: #FABC3C;
}

.btn-delete {
    background-image: url('https://image.flaticon.com/icons/png/512/221/221755.png');
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
    border-radius: 10px;
}

.div-order {
    display: -webkit-box;
}

.input-num {
    width: 30px;
}

.p-total {
    font-size: 20px;
}